<div class="change-log-card-content" data-tooltip="{{tooltip}}">
    {{#if document1Name}}<span class="change-log-card-document1">{{document1Name}}</span>{{/if}}
    {{#if document2Name}}<span class="change-log-card-document2">{{document2Name}}</span>{{/if}}
    {{#if property}}<span class="change-log-card-property">{{property}}</span>{{/if}}
    <div class="change-log-card-values">
        {{#if oldValue includeZero=true}}
        <div class="change-log-card-old-value">{{{oldValue}}}</div>
        <i class="fa fa-arrow-right"></i>
        {{/if}}
        {{#if newValue includeZero=true}}<div class="change-log-card-new-value">{{{newValue}}}</div>{{/if}}
    </div>
</div>