<div class="standard-form">
    <div class="standard-form scrollable">
        <div class="form-group">
            <label>{{localize "changeLog.importExportSettings.export"}}</label>
            <div class="form-fields">
                <button type="button" data-action="exportSettings" style="flex:1;">
                    <i class="fas fa-solid fa-file-export"></i>{{localize "changeLog.importExportSettings.export"}}
                </button>
            </div>
            <p class="hint">{{localize "changeLog.importExportSettings.exportHint"}}</p>
        </div>
        <div class="form-group">
            <label>{{localize "changeLog.importExportSettings.import"}}</label>
            <div class="form-fields">
                <button type="button" data-action="importSettings" style="flex:1;">
                    <i class="fas fa-solid fa-file-import"></i>{{localize "changeLog.importExportSettings.import"}}
                </button>
            </div>
            <p class="hint">{{localize "changeLog.importExportSettings.importHint"}}</p>
        </div>
    </div>
</div>
