<div class="flexrow">
    <form class="categories flexcol">
        <div class="scrollable">
            <section class="change-log-form-col-group">
                <div>{{label.selected}}</div>
                <div class="change-log-form-col-group">
                    <input
                        name="change-log-taginput"
                        class="change-log-taginput"
                        placeholder="{{placeholder}}"
                    />
                </div>
                <div class="change-log-form-row-group">
                    <button type="button" id="change-log-select-all"class="change-log-form-light-button">
                        <i class="fa-solid fa-filter"></i>{{localize "changeLog.tagForm.selectAll"}}
                    </button>
                    <button type="button" id="change-log-unselect-all" class="change-log-form-light-button tags--removeAllBtn">
                        <i class="fa-regular fa-filter-slash"></i>{{localize "changeLog.tagForm.unselectAll"}}
                    </button>
                </div>
            </section>
        </div>
        <footer class="sheet-footer flexrow">
            <button type="submit" id="change-log-submit" name="submit" class="">
                <i class="fas fa-check"></i></i>{{localize "changeLog.tagForm.accept"}}
            </button>
            <button type="button" id="change-log-cancel" name="cancel" class="">
                <i class="fas fa-times"></i></i>{{localize "changeLog.tagForm.cancel"}}
            </button>
        </footer>
    </form>
</div>